# HTTP client
requests>=2.0

# Data processing & parsing
pandas>=2.0.0
lxml>=4.9.0
beautifulsoup4>=4.9.0
html5lib>=1.1

# Browser automation & PDF generation
selenium>=4.0.0
webdriver-manager>=3.8.5

# Database ORM & driver
SQLAlchemy>=2.0.40
psycopg2-binary>=2.9.10

# Environment variables
python-dotenv>=0.21.0
